.cell {
    border: solid;
    border-width: 1px;
    border-color: black;
    position: relative;
    font-size: 1%;
    -webkit-user-select: none;
}

.inactive-cell {
    background-color: palegreen;
}

.active-cell {
    background-color: black;
}

.canvas {
    background-color: white;
    margin: auto;
    margin-top: 2%;
    border-color: black;
    width: 800px;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(32, 1fr);
}

.header {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr)
}

.action {
    margin: 5% 10%;
}